#acert-legend ul {
	margin: 0;
	padding: 0;
	float: left;
	left: 150px;
	list-style: none;
	display: inline-block;
}
#acert-legend ul li {
	margin: 0;
	display: block;
	float: left;
	text-align: center;
	font-size: 100%;
	list-style: none;
}
#acert-legend ul.legend-labels li span {
	display: block;
	float: left;
	height: 16px;
	width: 66px;
}
#acert-legend {
	height: 32px;
	width: 726px;
	position: relative;
	top: -16px;
	left: 0px;
	z-index: 1000;
	font-size: 70%;
	color: black;
	clear: both;
	font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
	border-style: solid;
	border-width: 0px;
}
